.signWrap{
    width: 1000px;
    margin: 50px auto;
    h2{
        border-bottom: 5px double #727272;
    }
    .signUpArea{
        border:none;
        ul{
            margin-top: 20px;
            >li{
                margin-bottom: 20px;

                .area-style{
                    label{
                        display: block;
                        margin-bottom: 3px;
                        color: #ccc;
                    }
                    input{
                        width: 100%;
                        box-sizing: border-box;
                        padding: 20px 30px;
                        border : 1px solid #ddd;
                    }
                    .mes-style{
                        font-size: 14px;                        
                    }
                    .success-color{
                        color:green
                    }
                    .error-color{
                        color: red;
                    }
                    .help-style{
                        font-size: 12px;
                        color: rgb(55, 55, 55);
                    }
                }
            }
        }
    }
}